p {
  margin-top: 10px !important;
}

.login-container,
.register-container {
  max-width: 400px;
  min-width: 350px;
  text-align: center;
  margin-top: 50px;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.section-thin {
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-control {
  padding-left: 5px !important;
}

.bottom-margin {
  margin-bottom: 30px;
}

.helper-text {
  float: right;
}
